body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 10vw;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swatch {
  max-width: 300px;
  border: 3px solid black;
  padding-bottom: 2rem;
}

.swatches {
  display: grid;
  grid-gap: 2rem;
  margin: 4rem;
}

li {
  list-style-type: none;
  padding-left: 0;
}

@supports (width: min(300px, 100%)) {
  .swatches {
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  }
}

.gradient-swatch {
  height: 20rem;
  width: 15rem;
  margin: 0 auto;
  margin-top: 2rem;
  border: 4px solid black;
}

.paint-name {
  font-size: 1.5rem;
  font-weight: 800;
}

.pigment {
  font-size: 1.3rem;
  font-weight: 600;
}

.brand {
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid black;
  background-color: black;
  color: white;
}

.header-container {
  margin: 2rem;
  position: relative;
  text-align: center;
}

.watercolor {
  width: 100%;
  height: auto;
  max-width: 50%;
}

form input {
  margin: 1rem;
}

form {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
}

input {
  background-color: black;
  border: none;
  padding: .3rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  max-width: 10rem;
}

form .btn {
  margin: 1rem;
  padding: .5em;
  max-width: 100%;
  background-color: black;
  border: none;
  padding: .3rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  max-width: 10rem;
}